# Ignorar carpeta de outputs de Manim
media/

# Cachés de Python
__pycache__/
*.py[cod]


venv/
.venv/
env/
.env/

# Archivos temporales
*.log
*.tmp
*.temp

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/
